@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #94e594;

}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

#navigation-2 {
  display: block;
}

nav>a {
  text-decoration: none;
  color: black;
}

.logo {
  margin-left: 10px;
  margin-right: auto;
}

.hamburger-menu {
  display: none;
  padding: 5px;
  margin-right: 5px;
  height: 10vh;
  width: auto;
  cursor: pointer;
}

.hamburger-menu>img {
  height: 80%;
}

#burger-nav {
  display: none;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(7, 60, 7);
}

#burger-nav>a {
  text-decoration: none;
  color: white;
  text-align: center;
  height: 50px;
  border-style: solid;
  border-color: white;
}

@media screen and (max-width: 900px) {
  header {
    height: 10%;
  }

  #navigation>a {
    display: none;
  }

  .hamburger-menu {
    float: right;
    display: block;
  }

  .logo {
    font-size: 30px;
  }

  .headshot>img {
    width: 300px;
    transition-duration: 0.5s;
  }

  /* Ensure hover effect is included inside the media query */
  .headshot>img:hover {
    width: 350px !important;
    /* Adjust this to your desired hovered width */
  }

  #cover-page {
    flex-direction: column;
  }

  #aboutMe {
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    text-align: center;
  }

  .blog-post {
    width: 80% !important;
    margin-left: 10% !important;
  }

  .blog-photo {
    max-width: 90% !important;
  }

  .two-photo {
    flex-direction: column;
  }

  .blogpost {
    flex-direction: column !important;
  }

  .blogpost>img {
    width: 50%;
    height: auto !important;
    justify-content: center;
    align-items: center;
  }
}

#cover-page {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.introduction {
  width: 210px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img[src="images/headshot.png"] {
  transition-duration: 0.5s;
}

img[src="images/headshot.png"]:hover {
  width: 420px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --bg-color-1: #121212;
  --bg-color-2: #5da879;
  --bg-color-3: #124020;
  --padding: 1rem 4rem;
  --font-family: monospace;
  --step: 0.5rem;
}

/*   transform: translate3d(-0.5rem, -0.5rem, 0) */
.coolBtn:is(:hover, :focus-visible) {
  --active: 1;
}

.coolBtn {
  --active: 0;
  color: white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: bold;
  border: 0;
  background: transparent;
  padding: 0;
}

.coolBtn span:first-of-type {
  padding: var(--padding);
}

.coolBtn span:not(:first-of-type) {
  position: absolute;
}

[aria-hidden] {
  color: transparent;
}

.coolBtn span {
  inset: 0;
  display: grid;
  background: var(--bg);
  place-items: center;
  transition: 0.2s ease;
  border: 2px solid black;
  /*   transform:
    translate(
      calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1)),
      calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
    ); */
  translate:
    calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1)) calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1));
}

span:nth-of-type(1) {
  --bg: var(--bg-color-3);
}

span:nth-of-type(2) {
  --coefficient: 1;
  --bg: var(--bg-color-2);
}

span:nth-of-type(3) {
  --coefficient: 2;
  --bg: var(--bg-color-1);
}

.coolBtn:active {
  --active: 0.5;
}

#blog-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: inline-block;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #133f13;
  height: 7vh;
  margin-top: 5vh;
}

#name {
  margin-right: auto;
  margin-left: 5%;
}

#footer-images {
  margin-right: 5%;
}

#aboutMe {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

#profile {
  text-align: center;
}

#aboutMe img {
  border-radius: 50%;
}

#aboutMe div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myIntro {
  max-width: 600px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  line-height: 25px;
}

.blog-post h1 {
  text-align: center;
}

#blog-page {
  width: 50%;
  margin-left: 25%;
}

@media screen and (max-width: 900px) {}

.blogpost {
  display: flex;
  gap: 40px;
  background-color: #b2c8c2;
  border-style: solid;
  border-radius: 30px;
  border-color: #133f13;
  cursor: pointer;
  padding: 2%;
  margin-top: 50px;
  width: 100%;
}

.image-container {
  width: 200px;
  /* Desired width */
  height: 200px;
  /* Desired height */
  overflow: hidden;
  /* Hide overflow */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  /* Maintain aspect ratio and fill the container */
}

.blog-photo {
  max-width: 40%;
  max-height: 100%;
}

.two-photo {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img[src="images/bald translation.JPG"],
img[src="images/new year s3.JPG"] {
  max-width: 80%;
}

input[name="name"] {
  border: none;
}